
.icon-cancel-circled-outline:before { content: '\e800'; } /* '' */
.icon-video:before { content: '\e801'; } /* '' */
.icon-zoom-in-outline:before { content: '\e802'; } /* '' */
.icon-zoom-in:before { content: '\e803'; } /* '' */
.icon-zoom-in-1:before { content: '\e804'; } /* '' */
.icon-video-alt:before { content: '\e805'; } /* '' */